body {
    font-family: Arial, sans-serif;
}

#tableau {
    position: relative;
    display: flex;
}

.musala {
    /* position: relative; */
    display: flex;
    flex-direction: row;
}

.get {
    width: 50%;
    height: 100vh;
}

.load {
    width: 50%;
    height: 100vh;
}

.th {
    position: relative;
    text-align: center;
    left: 325px;
}

#batteryLogTable {
    margin-top: 70px;
}

.container,
.container-fluid {
    margin-top: 75px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}